.profile__name {
    margin: 0;
    padding: 0;
    max-width: calc(100% - 24px - 17px);
    min-width: 295px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.33;
    /* or 133% */
}

@media screen and (max-width: 686px) {
    .profile__name{
        max-width: calc(100% - 24px);
        min-width: 201px;
        font-size: 27px;
        line-height: 2.07;
        text-align: center;
    }
}