.profile__info {
    max-width: calc(100% - 150px);
    min-width: 336px;
    margin-left: 30px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

@media screen and (max-width: 719px) {
    .profile__info {
        max-width: calc(100% - 30px);
        width:  calc(70% - 30px);
        min-width: 280px;
        margin: 10px 0 0;
        padding-right: 0;
        justify-content: center;
    }
}