.profile__occupation {
    margin: 16px 0 0;
    padding: 0;
    max-width: 100%;
    min-width: 318px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
}

@media screen and (max-width: 686px) {
    .profile__occupation {
        margin: 0;
        font-size: 14px;
        text-align: center;
        min-width: 280px;
    }
}