.elements {
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 18px 21px;
  list-style-type: none;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

@media screen and (max-width: 767px) and (min-width: 586px) {
  .elements {
    grid-template-columns: repeat(
      2,
      calc(50 / 181 * 100vw + 15950 / 181 * 1px)
    );
  }
}

@media screen and (max-width: 585px) {
  .elements {
    grid-template-columns: calc(78 / 268 * 100vw + 9954 / 53 * 1px);
  }
}
