.form__submit-button {
  margin: 18px 0 37px;
  width: 358px;
  padding: 14px 0 18px;
  border: 0;
  background: #000000;
  box-sizing: border-box;
  border-radius: 2px;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  transition: background 0.4s ease;
  cursor: pointer;
}

.form__submit-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 600px) {
  .form__submit-button {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .form__submit-button {
    font-size: 14px;
    line-height: 17px;
    padding: 12px 0 14px;
  }
}
