.element__delete-button {
  background-image: url(../../../images/delete-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  align-self: flex-end;
  position: absolute;
  top: 18px;
  right: 15px;
  border: none;
  background-color: transparent;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.element__delete-button:hover {
    opacity: 0.6;
}

